.task__search {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  height: 42px;
  gap: 24px;

  .input-custom {
    width: 100%;
  }

  .button{
    padding: 9px;
  }

  .task__select .options{
    width: 193px;
  }
}


.empty-list {
  height: calc(100vh - 148px);
}