.date {
  position: relative;
}

.date__wrapper {
  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  padding: 10px 8px 10px 12px;
  height: 22px;
}

.date__picture {
  color: #8E8E8E;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.date__value {
  width: 100%;
  display: flex;
  align-items: center;
}

.date__value.placeholder {
  color: #D9D9D9;
}

.date__wrapper:hover {
  border: 1px solid rgba(18, 19, 22, 0.50);
}

.date__wrapper:active,
.date__wrapper.active {
  border: 1px solid #1C1C1C;
}

.date__selection {
  position: absolute;
  top: 46px;
  left: 0;
}